* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --book-width: 280px;
    --book-card-ctr-clr: rgb(58, 58, 58);
    --book-card-outer-clr: rgb(12, 12, 12);
    --book-card-shadow-clr: rgb(180,180,180);
    --book-wrapper-ctr-clr: rgb(87, 87, 87);
    --book-wrapper-outer-clr: rgb(34, 34, 34);
    --body-bg-clr: rgb(15, 15, 15);
    --btn-bg-clr: rgb(15, 15, 15);
    --btn-font-clr: rgb(225, 225, 225);
    --header-bg-clr: rgb(97, 97, 97);
    --header-font-clr: rgb(220, 220, 220);
    --header-link-clr: rgb(202, 202, 202);
    --footer-bg-clr: rgb(90, 90, 90);
    --footer-font-clr: rgb(220, 220, 220);
}

body {
    background-color: var(--body-bg-clr);
}

.header-content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg-clr);
    color: var(--header-font-clr);
}

.site-title {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
}

.nav-links {
    display: inline-flex;
}

a {
    text-decoration: none;
    color: var(--header-link-clr);
}

.nav-link {
    list-style-type: none;
    padding: 0px 30px;
    font-size: 1.3rem;
}

.logo {
    border-radius: 50%;
    scale: 0.8;
}

footer {
    display: grid;
    place-items: center;
    background-color: var(--footer-bg-clr);
    color: var(--footer-font-clr);
}


.main-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 60px;
}

.content-wrapper {
    max-width: 1280px;
    background: radial-gradient(circle, var(--book-wrapper-ctr-clr), var(--book-wrapper-outer-clr));
    margin: 0px auto;
    text-align: center;
}

.add-book-btn {
    background-color: var(--btn-bg-clr);
    color: var(--btn-font-clr);
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.books-container {
    width: 90vw;
    min-width: 255px;
    max-width: 904px;
    padding: 24px 16px;
    margin: 0px auto;
}

.book-card {
    display: grid;
    justify-content: center;
    align-content: space-around;
    flex-shrink: 0;
    width: var(--book-width);
    height: var(--book-width);
    background: radial-gradient(circle, var(--book-card-ctr-clr), var(--book-card-outer-clr));
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 2px 3px 8px var(--book-card-shadow-clr);
}

.flex {
    display: flex;
    justify-content: center;
}

.gap-16 {
    gap: 16px;
}

.wrap {
    flex-wrap: wrap;
    justify-items: center;
    align-content: flex-start;
}
